*,
*::after,
*::before{
    box-sizing: border-box;
}
a, input, button{
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

ul{
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    background: #FBF8F5;
    color:#000;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.container{
    max-width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
}



.container-fluid {
    max-width: 1280px;
    margin: 0 auto;
}

.container-fluid-right{
    display: flex;
    gap: 33px;
    padding-left: max(15px, calc((100% - 1090px) / 2));
    align-items: center;
 }

 .container-fluid-left{
    display: flex;
    gap: 33px;
    padding-right: max(15px, calc((100% - 1090px) / 2));
    align-items: center;
 }

.header{
    padding: 31px 0;
}

.nav__list{
    display: flex;
    gap: 36px;
    align-items: center;
}

.burger-btn{
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.burger-btn__line{
    position: relative;
}
.burger-btn__line,
.burger-btn__line::after,
.burger-btn__line::before{
    content: "";
    background: #000;
    width: 100%;
    height: 4px;
}

.burger-btn__line::after{
    position: absolute;
    left: 0;
    top: -10px;
}
.burger-btn__line::before{
    bottom: -10px;
    position: absolute;
    left: 0;
}


.nav__item--logo{
    margin: auto;
}

.header__logo--sm{
    display: none;
}


.hero__content{
    width: 522px;
}

.hero__image{
    width: 628px;
}
.hero__btn{
    border-radius: 30px;
    background: #E9672B;
    padding: 16px 30px;
}

.hero__text{
    margin-bottom: 46px;
}

.hero__image img {
    width: 100%;
}

.hero__title{
   font-size: 64px;
   line-height: 76px;
   margin-bottom: 18px;
}

.room{
    padding: 0 0 71px;
}

.room__text{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.room__title{
    font-size: 48px;
    line-height: 54px;
    text-align: center;
}

.room__item--1{
    border-radius: 4px;
    border: 2px solid #E9672B;
    background: #FFF;
    box-shadow: 8px 8px 0px 0px #CBC6F4;
}

.room__item--2{
    border-radius: 4px;
    border: 2px solid #225DCA;
    background: #FFF;
    box-shadow: 8px 8px 0px 0px #E7CB43;
}

.room__item--3{
    border-radius: 4px;
    border: 2px solid #242947;
    background: #FFF;
    box-shadow: 8px 8px 0px 0px #A2D4C5;
}


.room__item--4{
    border-radius: 4px;
    border: 2px solid #DE4333;
    background: #FFF;
    box-shadow: 8px 8px 0px 0px #AF4920;
}

.room__list{
    display: flex;
    gap: 36px;
    justify-content: center;
}

.keeping{
    background: #fff;
}
.sale{
    padding-bottom: 64px;
}

.kepping__title{
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 16px;
}

.keeping__inner {
    padding: 131px 0 94px 0;
}


.kepping__text{
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    height: 96px;
}

.enjoy {
    background: #fff;
}

.enjoy__inner {
    display: flex;
    align-items: center;
    padding-top: 32px;
}

.left-bg{
    background: linear-gradient(90deg, #FBF8F5 50%, rgb(255, 255, 255) 50%);
    background-repeat: no-repeat;
}

.right-bg{
    background: linear-gradient(90deg,  rgb(255, 255, 255) 50%, #FBF8F5 50%);
    background-repeat: no-repeat;
}

.enjoy__image{
    width: 100%;
    margin: 0 -27px 0 -54px;
}

.enjoy__image img{
    width: 100%;
}

.enjoy__title{
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
}


.enjoy__text{
    line-height: 28px;
    margin-bottom: 33px;
}

.enjoy__btn{
    color: #E9672B;
    line-height: 28px; 
}
.enjoy__content{
    /* width: 50%; */
    padding-left: max(15px, calc((100% - 1090px) / 2));
    padding-right: 100px;

}

.sale__inner{
    display: flex;
    align-items: center;
}

.sale__content{
    margin-left: 71px;
}

.sale__title{
    font-size: 36px;
}

.sale__image {
    max-width: 100%;
}

.sale__image img {
    width: 100%;
}

.sale{
    padding-top: 64px;
}

.sale__text{
   max-width: 441px;
}

.sale__btn{
    color: #E9672B;
}

.type{
    border: 0;
    background: 0;
    border-bottom: 1px solid #000;
} 

 .busines {
    background: #fff;
    margin-top: 64px;
}

.business__inner {
    display: flex;
    align-items: center;
}

.left-bg{
    background: linear-gradient(90deg, #FBF8F5 50%, rgb(255, 255, 255) 50%);
    background-repeat: no-repeat;
}

.right-bg{
    background: linear-gradient(90deg,  rgb(255, 255, 255) 50%, #FBF8F5 50%);
    background-repeat: no-repeat;
}

.business__image{
    width: 100%;
    margin: 0 -27px 0 -104px;
}

.business__image img{
    width: 100%;
}

.busines__title{
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
}


.busines__text{
    line-height: 28px;
    margin-bottom: 33px;
    max-width: 438px;
    
}

.busines__btn{
    color: #E9672B;
    line-height: 28px; 
}
.business__content{
    width: 88%; 
    padding-left: max(15px, calc((100% - 1090px) / 2));
    padding-right: 100px;

}

.never__inner{
    display: flex;
    align-items: center;
}

.never__content{
   margin-left: 71px;
}

.never__title{
    font-size: 36px;
    line-height: 44px;
}

.never__image {
    max-width: 100%;
}

.never__image img {
    width: 100%;
}

.never{
    padding-top: 64px;
}

.never__text{
   max-width: 418px;
}

.never__btn{
    color: #E9672B;
}

.Bestsellers{
    padding-top: 335px;
}

.Bestsellers__title{
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 57px;
}
.Bestsellers__item{
    text-align: center;
    width: 233px;
    height: 430px;
    flex-shrink: 0;
    background: #fff;
}
.Bestsellers__list{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.Bestsellers__text{
    margin: 0 52px;
    text-align: center;
    width: 63%;
}
.Bestsellers__text span{
    color: #E9672B;
}
span:last-child{
    color: #4F4F4F;
}

.Bestsellers__img{
    margin: 40px 32px;
}

.Bestsellers__img img{
    width: 100%;
}

.lesd--Bestsellers{
    width: 98px;
    margin: 0 73px;
}

.furniture{
    padding-top: 54px;
}

.furniture__title{
    color: #E9672B;
    margin-bottom: 144px;
    text-align: center;
}


.furniture__img {
    max-width: 100%;
}

.furniture__content{
    display: flex;
    color: #FFF;
    background: #E9672B;
    text-align: center;
}

.furniture__subject{
    font-size: 36px;
    line-height: 44px;
    line-height: 44px;
    margin: 24px 44px;
    text-align: center;
    margin-bottom: 32px;
}

.furniture__text{
    margin-top: 61px;
    text-align: center;   
}

.furniture__btn{
    background-color: #FFF;
    color: #000;
    padding: 16px 40px;
    border-radius: 88px;

}

.furniture{
    padding-bottom: 143px;
}

.reviews{
    padding-bottom: 176px;
}
.reviewes__title{
    text-align: center;
    font-size: 48px;
}



.Reviews__list{
    display: flex;
    background-color: #FFF;
    flex-wrap: wrap;
    gap: 32px;
}
.Reviews__item-content{
    width: 317px;

}

.Reviews__item {
    padding: 34px 34px 62px;
}

.Reviews__item--1{
    border-radius: 4px;
    border: 2px solid #E9672B;
    background: #FFF;
    box-shadow: 8px -8px 0px 0px #CBC6F4;
    width: 100%;
    width: 396px;
    

}

.Reviews__text {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
.Reviews__icon--yellow {
    color: #E7CB43;
}

.Reviews__icon--blue {
    color: #A2D4C5;
}

.Reviews__icon--grey {
    color: #CBC6F4;
}

.Reviews__icon{
    font-size: 26px;
    margin-bottom: 26px;
}

.Reviews__item--2{
    border-radius: 4px;
    border: 2px solid #225DCA;
    background: #FFF;
    box-shadow: 8px -8px 0px 0px #E7CB43;
    width: 100%;
    width: 396px;

}

.Reviews__item--3{
    border-radius: 4px;
    border: 2px solid #242947;
    background: #FFF;
    box-shadow: 8px -8px 0px 0px #A2D4C5;
    width: 100%;
    width: 396px;
}

  .apartment{
    background: #F6CFCA;
}

.apartmrnt__title{
    font-size: 88px;
    text-align: center;
    line-height: 100px;
    padding: 39px 0;
    max-width: 913px;
    margin: 0 auto;
}

.apartment__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 102px;
}

.apartment__img img{
    width: 100%;
}
.apartment__list {
}

.stress{
    padding-top: 120px;
    padding-bottom: 120px;
} 

.stress__inner{
   text-align: center;
}

.stress__img{
  margin-bottom: 41px;
  width: 100%;
}
.stress__title{
    font-size: 24px;
    line-height: 32px;
    width: 292px;
    margin: 0 auto;
    margin-bottom: 40px;

}
.stress__btn{
    border-radius: 88px;
    background: #E9672B;
    padding: 16px 40px;
}

.footer__title{
    margin-bottom: 24px;
}
.footer__item{
    margin-bottom: 8px;
}

.footer__content{
    display: flex;
    gap: 81px;
    flex-wrap: wrap;
}
.fooater__link{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.footer{
    background: #F3F0EC;
    padding-top: 82px;
    padding-bottom: 80px;
}

.footer__input{
    border: 0;
    border-bottom: 3px solid #000;
    background: none;
}

.footer__logo{
    width: 51px;
    margin-left: auto;
}








@media(max-width:1280px){
    .Reviews__item {
        width: 100%;
        text-align: center;
    } 

    .Reviews__item-content {
        width: 100%;
    } 
    .apartmrnt__title{
        font-size: 60px;
    }
    .furniture__content{
        flex-wrap: wrap;
        flex-direction: column;
    } 
    .furniture__btn {
        font-size: 15px;
    }
    .furniture__subject{
        font-size: 20px;
    }
  
}










@media(max-width:1075px){
    .nav__list{
        gap: 18px;
    }
    .nav__item--logo{
        margin: 0;
    }
    .room__list {
        flex-wrap: wrap;
    }

    .left-bg {
        background: none;
    }

    .enjoy__inner {
        flex-direction: column;
    }

    .enjoy__content {
        padding: 0 15px;
        text-align: center;
        margin-bottom: 25px;
    }

    .enjoy__image {
        margin: 0;
    }
    .sale__inner{
        flex-direction: column;
    }
    .sale__content{
        margin: 0;
        text-align: center;
        padding: 0 15px;
    }
    .business__inner{
        flex-direction: column;
    }
    .business__content{
        padding: 0 15px;
        text-align: center;
        margin-bottom: 25px;
    }
    .business__image{
        margin: 0;
    }
    .busines__text{
        max-width: 100%;
    }
    
    .never__inner{
        flex-direction: column;
    }
    .never__content{
        margin: 0;
        text-align: center;
        padding: 0 15px;
    }
    .Bestsellers__list{
        display: flex;
        flex-wrap: wrap;
    }
    .apartmrnt__title{
        font-size: 40px;
    }
   
    .apartment__list {
        flex-direction: column;
    }
    
    
}

@media(max-width:992px){
    .header{
        position: relative;
    }
    .nav__list{
        display: none;
    }
    .nav__list.menu--open{
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        background: #FBF8F5;
        width: 100%;
        text-align: center;
    }
    .nav__item--logo{
        display: none;
    }
    .nav__item {
        margin: 10px 0;
    }
    .burger-btn{
        display: flex;
    }
    .header__logo--sm{
        display: block;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hero__title{
        font-size: 35px;
        line-height: 1.5;
    }
    .kepping__title{
        font-size: 27px;
    }
    .kepping__text{
        font-size: 20px;
    }
    .Reviews__list{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
  
   
}

  


@media(max-width:768px){
    .container-fluid-right{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 15px;
    }
    .hero__image{
        width: 100%;
    }
    .hero__content{
        width: 100%;
    }
    .kepping__title{
        font-size: 18px;
    }
    .kepping__text{
        font-size: 16px;
    }
    
    .footer {
        text-align: center;
    }

    .footer__item {
        width: 100%;
    }
    

}
 @media(max-width:450px){
      .furniture__subject{
        font-size: 24px;
        line-height: 1;
      }  
      .furniture__btn{
        font-size: 14px;
      }
      .reviewes__title{
        font-size: 30px;
      }
 }

